




 

 body {
 	background-color: #ffffff;
    background-image: intersection.png;
 }
#toplinks {
	background-color: #4aaaa5;
    text-align: right;
    
    padding: 10px;
    margin: 100px;
    border: 20px;
    height: 300px;
    width:  300px;
    position: fixed;
    top: 0;
    right:0;


 }

a:link {
    text-decoration: none;
}


#name {
    text-align: left;


 }
 #content{ 
 	float: right;

  }

 #footer {
 	background-color: lightblue;
 	text-align: center;
    width: 900px;
    
   
 }

 .middlelinks{
       width:0
       margin:0 auto;
}


.name { 
  border: 10px;
  background-color: #ffffff
  

 }

#smallline { 
     
    background-color: #666666;
    height: 10px;
    width: 900px; 
    top: 10




 }

 #midlinks {
  
  position: relative;

 }


 